body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn button {
  background-color: #01b4e4;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  width: 100%;
  height: 2.75rem;
  border: none;
  margin-top: 1rem;
  border-radius: 20px;
}
.btn button:hover {
  background-color: #032541;
}
button.disabled {
  background-color: #ececec;
  color: #767676;
  cursor: not-allowed;
}

button.disabled:hover {
  color: #767676;
}
